
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim</title>
    <link rel="stylesheet" href="~/css/iletisim.css">
</head>
<body style="background-color:#495057">
    <div class="container">
        <h1>Bizimle İletişime Geçin</h1>
        <div class="info">
            <p><span>Adres:</span> Maltepe mahallesi, Sokak No: 123, İstanbul</p>
            <p><span>Telefon:</span> +90 535 011 2716</p>
            <p><span>E-posta:</span> subhi.bekri@ogr.sakarya.edu.tr</p>
            <p><span>E-posta:</span> Farok.wes@ogr.sakarya.edu.tr</p>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com/">Facebook</a>
            <a href="https://x.com">Twitter</a>
            <a href="#https://www.instagram.com/">Instagram</a>
        </div>
    </div>
</body>
</html>
